body{
    background-color: orangered;
}
.message{
    text-align: center;
    color: white;
    font-size: 35px;
    padding-top: 60px;
    font-weight: bolder;
    height: 50px;
}
.gameLayout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}
.row{
    height: 32%;
}
.col{
    height: 100%;
    width: 32%;
    border: 2px solid white;
    float: left;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}
